{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "selector-list-comma-newline-after": "always-multi-line",
    "string-quotes": "single"
  },
  "defaultSeverity": "warning"
}
