@use "variables" as variable;

@mixin anchorStyles(){
  color: variable.$primary-color;
  &:visited {
    color: variable.$secondary-color;
  }
  &:hover {
    color: variable.$neutral-color;
  }
  &:active {
    color: variable.$neutral-color;
  }
}
