@use "variables" as variable;
@use "mixins" as mixin;
html,
body {
  padding: 0;
  margin: 0;
  font-family: variable.$font-family;
}

a {
  @include mixin.anchorStyles();
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
